body, html {
    height: 100%;
    margin: 0;
}

.content-container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

img {
    max-width: 100%;
    height: auto;
}
